<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href="/public/lib/bootstrap/css/bootstrap.css" />
    <link rel='stylesheet' href="/public/stylesheets/style.css" />
  </head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <body>
  <div class="row-fluid">
      <ul class="nav nav-tabs">
          <li class="active"><a href="#build_tab" data-toggle="tab">帐号</a></li>
          <li class="active"><a href="#build_tab" data-toggle="tab">其他</a></li>
      </ul>

      <div class="span12 tab-content">
          <div class="tab-pane active" id="build_tab">
              <div class="well well-small">用户：<%= user_name %> 总瞄币：<span class="J-money">99999</span>&nbsp;&nbsp;&nbsp;
			  <button id="hide" type="button">粮草/功勋/是否可交易</button>&nbsp;&nbsp;&nbsp;
			  <button id="show" type="button">建筑/资源</button>&nbsp;&nbsp;&nbsp;
			  <button id="reload" type="button">刷新页面</button>
			  </div>

              <table id="accountListTb" class="table table-bordered">
                  <thead>
                      <tr>
                          <th class="main" style="width:30px">分组</th>
                          <th class="main">帐号</th>
                          <th class="main">用户名</th>
                          <th class="main">瞄币</th>
                          <th class="main">粮草 (最大值)</th>
                          <th class="main">部队功勋 (出征消耗)</th>
						  <th class="main">是否可交易</th>
						  <th class="main">生命值</th>
                          <th class="main">上一次执行IP地址</th>
						  <th class="other" style="display:none;">已完成建筑</th>
						  <th class="other" style="display:none;">资源概况</th>
                          <th class="main">上一次执行命令时间</th>
                          <th class="other" style="display:none;">删除</th>
                      </tr>
                  </thead>
                  <tbody>
                  <% if (accountList.length>0) { %>
                      <% accountList.forEach(function(account,index){  %>
                         <tr data-id="<%= account['account_id'] %>">
                             <td class="main"><input style="width: 8px" data-field="pc_group" type="text" value="<%= account["pc_group"] %>" /> </td>
                             <td data-field="name" data-type="<%= account['type'] %>" class="main account_type_<%= account['type'] %>"><%= account["account_name"] %></td>
                             <td class="main"><%= account["account_gamename"] %></td>
                             <td class="main" data-field="money"><%= account["account_money"] %></td>
                             <td class="main"><%= account["account_food"] %>&nbsp;&nbsp;(<%= account["account_maxfood"] %>)</td>
                             <td class="main J_army"><%= account["account_army"] %></td>
							 <td class="main"><%= account["account_trade"] %></td>
							 <td class="main"><%= account["account_blood"] %></td>
                             <td class="main"><%= account["account_lastip"] %></td>
							 <td class="other J_build" style="display:none;"><%= account["account_builded"] %></td>
							 <td class="other J_resources" style="display:none;"><%= account["account_resources"] %></td>
                             <td class="main"><%= account["account_lasttime"] %></td>
                             <td class="other" style="display:none;">
                                <button type="button" value="<%= account['account_id'] %>" class="postDel" />删除</button>
                             </td>
                         </tr>
                      <% }) %>
                  <% } %>
                  </tbody>
              </table>
              <div class="well well-small">用户：<%= user_name %> 总瞄币：<span class="J-money">99999</span></div>
          </div>
      </div>
  </div>


  <script src="/public/lib/jquery.js"></script>
  <script src="/public/lib/bootstrap/js/bootstrap.js"></script>
  <script src="/public/javascripts/index.js"></script>

  </body>
</html>